/*Remove webpage margins and padding*/
* {
	margin: 0;
	padding: 0;
}
/*Webpage colour schemer*/
:root {
	--green: #5fad56;
	--yellow: #f2c14e;
	--organge: #f78154;
	--emerald: #4d9078;
	--purple: #b4436c;
	--black: black;
	--white: #faf9f6;
	--head-size: 30px;
	--body-size: 20px;
	--text-size: 10px;
	--font-style: Arial, Helvetica, sans-serif;
}
/*Navigation Content*/
.navbar {
	background-color: var(--black);
	display: flex;
	flex: 1 1 100px;
	justify-content: space-around;
	align-items: center;
}

.icon {
	color: var(--white);
	font-family: var(--font-style);
	font-size: var(--head-size);
}
.nav-list {
	display: flex;
	justify-content: flex-end;
}
.list-item {
	margin: 50px;
	text-align: center;
}
.list-item a {
	list-style-type: none;
	text-decoration: none;
	font-size: var(--head-style);
	font-family: var(--font-style);
	color: var(--white);
}
a:hover {
	color: var(--green);
}

/*Header Content*/
.header-containter {
    display: flex;
    background-color: var(--yellow);
}
.header-flex-text {
    display: flex;
	flex: 1 1 50%;
	border: 5px solid var(--black);
    justify-content: center;
	align-items: center;
    font-size: var(--head-size);
    font-family: var(--font-style);
}
.header-flex-image {
    display: flex;
    flex: 0 1 10%;
     border: 5px solid var(--black);
    justify-content: center;
	align-items: center;
}
/*About Me Section Content*/
.aboutMe-container {
    display: flex;
    background-color: #5fad56;
   height: 300px;
}
.aboutMe-flex-header {
    display: flex;
	flex: 1 1 25%;
	border: 5px solid var(--black);
    justify-content: center;
	align-items: center;
    font-size: var(--head-size);
    font-family: var(--font-style);
}
.aboutMe-flex-text {
    display: flex;
	flex: 1 1 75%;
	border: 5px solid var(--black);
    justify-content: center;
	align-items: center;
    text-align: center;
    font-size: var(--body-size);
    font-family: var(--font-style);
}
/* Main Project Content*/
main {
    display: flex;
    background-color: var(--purple);
    height: 600px;
  }
  
  .main-header {
    display: flex;
	flex: 1 1 257%;
	border: 5px solid var(--black);
    justify-content: center;
	align-items: center;
    font-size: var(--head-size);
    font-family: var(--font-style);
}
.card {
    display: flex;
   flex: 1 1 150%;
}
a {
    display: flex;
	flex: 1 1 75%;
	border: 5px solid var(--black);
    justify-content: center;
	align-items: center;
    text-align: center;
    font-size: var(--body-size);
    font-family: var(--font-style);
    text-decoration: none;
    color: var(--white);
}
  
/*Footer*/
.contact-me {
	background-color: var(--black);
	display: flex;
	flex: 1 1 100px;
	justify-content: space-around;
	align-items: center;
}
.contact-me-header {
	color: var(--white);
	font-family: var(--font-style);
	font-size: var(--head-size);
}
.contact-me-list {
	display: flex;
	justify-content: flex-end;
}
.contact-me-item {
	margin: 50px;
	text-align: center;
}
.contact-me-item {
	list-style-type: none;
	text-decoration: none;
    color: var(--white);
	font-size: var(--head-style);
	font-family: var(--font-style);
	color: var(--white);
    text-align: center;
    justify-content: center;
    align-items: center;
}

