/*Remove webpage margins and padding*/
* {
	margin: 0;
	padding: 0;
}
/*Webpage colour schemer*/
:root {
	--green: #5fad56;
	--yellow: #f2c14e;
	--organge: #f78154;
	--emerald: #4d9078;
	--purple: #b4436c;
	--black: black;
	--white: #faf9f6;
	--head-size: 30px;
	--body-size: 20px;
	--text-size: 10px;
	--font-style: Arial, Helvetica, sans-serif;
}
/*Navigation Content*/
.navbar {
	background-color: var(--black);
	display: flex;
	flex: 1 1 100px;
	justify-content: space-around;
	align-items: center;
}

.icon {
	color: var(--white);
	font-family: var(--font-style);
	font-size: var(--head-size);
}
.nav-list {
	display: flex;
	justify-content: flex-end;
}
.list-item {
	margin: 50px;
	text-align: center;
}
.list-item a {
	list-style-type: none;
	text-decoration: none;
	font-size: var(--head-style);
	font-family: var(--font-style);
	color: var(--white);
}
a:hover {
	color: var(--green);
}

/*Header Content*/
.header-containter {
	display: flex;
	background-color: var(--yellow);
}
.header-flex-text {
	display: flex;
	flex: 1 1 50%;
	border-left: 5px solid var(--black);
	justify-content: center;
	align-items: center;
	font-size: var(--head-size);
	font-family: var(--font-style);
}
.header-flex-image {
	display: flex;
	flex: 0 1 10%;
	border-right: 5px solid var(--black);
	justify-content: center;
	align-items: center;
}
/*About Me Section Content*/
.aboutMe-container {
	display: flex;
	background-color: #5fad56;
	height: 300px;
}
.aboutMe-flex-header {
	display: flex;
	flex: 1 1 10%;
	border: 5px solid var(--black);
	justify-content: center;
	align-items: center;
	font-size: var(--head-size);
	font-family: var(--font-style);
}
.aboutMe-flex-text {
	display: flex;
	flex: 1 1 75%;
	border: 5px solid var(--black);
	justify-content: center;
	align-items: center;
	text-align: center;
	font-size: var(--body-size);
	font-family: var(--font-style);
}

/* Main Project Content*/
.grid-container {
	display: grid;
	grid-template-columns: auto auto auto auto auto auto;
	gap: 10px;
	background-color: var(--black);
	padding: 5px;
}

.grid-container > div {
	background-color: var(--purple);
	padding: 5px 0;
	font-size: 30px;
}

.item1 {
	grid-row: 1 / 4;
	justify-content: center;
	align-items: center;
	font-size: var(--body-size);
	font-family: var(--font-style);
	color: var(--black);
}

.item2 {
	grid-column: 2 / 8;
	height: 300px;
}
.item3 {
	grid-column: 2 / 5;
	height: 300px;
}
.item4 {
	grid-column: 5 / 8;
	height: 300px;
}
.item5 {
	grid-column: 2 / 5;
	height: 300px;
}
.item6 {
	grid-column: 5 / 8;
	height: 300px;
}
/*Footer*/
.contact-me {
	background-color: var(--black);
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
}
.contact-me-header {
	color: var(--white);
	font-family: var(--font-style);
	font-size: var(--head-size);
}
.contact-me-list {
	display: flex;
	justify-content: flex-end;
}
.contact-me-item {
	margin: 50px;
	text-align: center;
}
.contact-me-item {
	list-style-type: none;
	text-decoration: none;
	color: var(--white);
	font-size: var(--head-style);
	font-family: var(--font-style);
	color: var(--white);
	text-align: center;
	justify-content: center;
	align-items: center;
}
.contact-me-item a {
	list-style-type: none;
	text-decoration: none;
	color: var(--white);
}
.contact-me-item a:hover {
	color: var(--green);
}
address {
	color: var(--white);
}
/*Media Query*/
@media screen and (max-width: 600px) {
	.column {
		width: 100%;
	}
}
